@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble.woff2') format('woff2'),
         url('../fonts/rouble.woff') format('woff'),
         url('../fonts/rouble.ttf') format('truetype'),
         url('../fonts/rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    /*margin-top: 81px;*/
}
a {
    color: #0084d1;
    text-decoration: underline;
}
a:hover {
    color: #0084d1;
    text-decoration: none;
}
.navbar-brand{
	padding: 0;
	padding-right: 40px;
}
.navbar {
    position: relative;
    min-height: 81px;

    padding-top: 12px;
    /*padding-bottom: 8px;*/
    margin-bottom: 0px;
}
.navbar a{
    text-decoration: none;
}
.navbar-brand > img {
    display: inline-block;
}
.navbar-inverse .navbar-nav > li > a{
	min-height: 67px;
}
.contact_phone .lead > a{
	display: inline-block;
	color: #fff;
}
.contact_phone > p {
    margin: 0px -0px -5px;
    margin-right: 2px;
    text-align: right;
    font-size: 12px;
    color: #999999;
    /*text-align: center;*/
}
.contact_phone .lead{
	text-align: center;
}

.contact_phone_min .lead > a{
	display: inline-block;
	font-size: 30px;
}
.navbar-brand{
    padding-right: 0;
    margin-right: 69px;
}
.navbar-inverse .navbar-nav > li > a{
    padding-right: 0;
    padding-left: 0;
    margin-right: 40px;
    margin-top: 2px;
    line-height: 1.250;
}
.navbar-inverse .navbar-nav > li > a.link_1{
    padding-top: 7px;
    margin-right: 43px;
}
.navbar-inverse .navbar-nav > li > a.link_2{
    padding-top: 17px;
    margin-right: 44px;
}

.navbar-inverse .navbar-nav > li > a.link_3{
	padding-top: 7px;
    margin-right: 43px;
}
.navbar-inverse .navbar-nav > li > a.link_4{
    padding-top: 17px;
    margin-right: 44px;
}
.navbar-inverse .navbar-nav > li > a.link_5{
    padding-top: 17px;
    margin-right: 26px;
}

.menu .container{
	position: relative;
}
.phone_icon{
	color:#fff;
	font-size: 40px;
	line-height: 50px;
	position: absolute;
	right: 100px;
	cursor: pointer;
	display: none;
}

 /*SLIDER*/
.carousel-inner .item{
	/*background-image: url(../img/slid2.jpg);*/
	background-color: transparent;
}
.carousel-caption{
	padding-bottom: 0;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.sertificat {
    float: left;
    padding-top: 10px;
    margin-left: 28px;
    /*margin-top: -95px;*/
}
.sertificat a {
    padding-top: 136px;
    display: block;
    background: url("../img/Serficat.jpg") no-repeat -7px top;
}
.map_content{
    padding-top: 95px;
    background: url("../img/Kart.jpg") no-repeat left top;
    -webkit-transition: background 0.7s ease;
    color: #4c4c4c;
    text-decoration: none;
}
.map_content a{
	    color: #4c4c4c;
    text-decoration: none;
}
.map .map_content:hover{
	background: url("../img/KartHover.jpg") no-repeat left top;
}
.right a {
    border: 1px solid #7fc9ef;
        border-top-color: rgb(127, 201, 239);
        border-right-color: rgb(127, 201, 239);
        border-bottom-color: rgb(127, 201, 239);
        border-left-color: rgb(127, 201, 239);
    display: block;
    margin-bottom: 8px;
    height: 57px;
    line-height: 57px;
    overflow: hidden;
}
.right a:hover {
    background: #007fdc;
    color: #fff;
}

.right span {
    margin: 0 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 55px;
    background: url(../img/ico-autoteh-sprite.png) no-repeat 10px 3px;
}
.right .it0, .available-link {
    color: #ff4600;
    border-color: #ff9166;
}
.right .it0:hover, .available-link:hover {
    background: #ff4600;
    color: #fff;
}
.right a:hover span {
    background: url(../img/ico-autoteh-sprite.png) no-repeat 10px -44px;
}
.right .dl-price-list {
    border: 1px solid #7fc9ef;
    display: block;
    margin-bottom: 8px;
    height: 57px;
    width: 100%;
    text-align: left;
    background: url(../img/ico-dl-price-list.png) no-repeat 12px 15px;
    color: #0084d1;
    padding-left: 55px;
}
.right .dl-price-list span {
    background: none;
    padding-left: 0;
}
.right .dl-price-list:hover {
    background: #007fdc url(../img/ico-dl-price-list.png) no-repeat 12px -57px;
    color: #fff;
}
.right .dl-price-list:hover span, #block-block-12 .right .dl-price-list span {
    background: none;
    padding-left: 0;
}
.right .it1 span {
    background: url(../img/ico-delevery-1.png) no-repeat 7px 6px;
}
.right .it1:hover span {
    background: url(../img/ico-delevery-1.png) no-repeat 7px -60px;
}
.right .it2 span {
    background: url(../img/ico-leasing-sprite.png) no-repeat 10px 7px;
}
.right .it2:hover span {
    background: url(../img/ico-leasing-sprite.png) no-repeat 10px -48px;
}
.right .it3 span {
    background: url(../img/ico-guarantee-sprite-1.png) no-repeat 10px 7px;
}
.right .it3:hover span {
    background: url(../img/ico-guarantee-sprite-1.png) no-repeat 10px -55px;
}
.right{
	padding-top: 0px;
}
#content .right{
    padding-top: 28px;
}
#content h1, h2 {
    color:#0084d1;
    line-height: 1.4;
}
#content h1{
    margin-bottom: 19px;
}
.sh_eq{
    border-top: 1px solid #efefef;
    padding: 0px 0;
    /*margin-top: 26px;*/
}
.sh_eq a{
    text-decoration: none;
    border-bottom: 1px solid #7fc9f0;
}
.sh_eq a:hover{
    border-bottom: 1px solid #fff;
}
.content{
    padding-bottom: 0px;
    /*margin-bottom: 26px;*/
}
/*.content .col-lg-4, .content .col-lg-3{
    padding-left: 0;
    padding-right: 0;
}*/
#content2{
    padding:0 0px;
}
#content2 h2{
    margin-top: 0px;
    margin-bottom: 10px;
}
#content2 p{
    margin-bottom: 19px;
}
#content2 a.news_inf{
    color: #4c4c4c;
}
#content2 a.news_top{
    text-decoration: none;
    border-bottom: 1px solid #7fc9f0;
}
#content2 a.news_top:hover{
    border-bottom: 1px solid #fff;
}
#content2 .right a.download:hover{
    background: #ff4600;
    color: #fff;
}
#content2 .right a.download{
    border-color: #ff9166;
    color: #ff4600;
}
#content2 .right a.catalog{
    width: 43%;
}
#content2 .right a{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d0d0d0;
        border-top-color: rgb(208, 208, 208);
        border-right-color: rgb(208, 208, 208);
        border-bottom-color: rgb(208, 208, 208);
        border-left-color: rgb(208, 208, 208);
    height: 155px;
    text-align: center;
    width: 33%;
    padding: 0 2%;
    margin-right: 16px;
}
#content2 .right a.download span {
    background-image: url(../img/link-dl.png);
}
#content2 .right a.download:hover span {
    background-image: url(../img/link-dl-hover.png);
}
#content2 .right a.catalog span{
    padding: 62px 0 0 0;
    background-position: center 7px;
    background-repeat: no-repeat;
}
#content2 .right a span{
    display: block;
    margin: 17px 0;
    line-height: 1.2;
}
#content2 .right a.catalog_post{
    border-color: #7fc9ef;
    color: #0084d1;
}

#content2 .right a.catalog_post:hover{
    background: #0084d1;
    color: #fff;
}
#content2 .right a.catalog_post:hover span{
    background-image: url('../img/link-get-mail-hover.png');
}
#content2 .right a.download:hover{
    background: #ff4600;
    color: #fff;
}
#content2 .right a.download{
    border-color: #ff9166;
    color: #ff4600;
    /*margin-right: 24px;*/
}
#content2 .right a.catalog_post{
    width: 43%;
    margin-right: 0px;
}
#content2 .right a.catalog_post span {
    background-image: url(../img/link-get-mail.png);
}
#content2 .right a.catalog_post:hover span {
    background-image: url(../img/link-get-mail-hover.png);
}
#content2 .right a.catalog_post span{
    padding: 62px 0 0 0;
    background-position: center 7px;
    background-repeat: no-repeat;
}
#content2 .right a span{
    display: block;
    margin: 17px 0;
    line-height: 1.2;
}
#content2 a.otgruzki {
    background: url("../img/otgruz.jpg") no-repeat center 43px;
    -webkit-transition: background 0.3s ease;
}
#content2 a.otgruzki:hover {
    color: #0084d1;
    background-position: center -139px;
    background: url("../img/otgruz2.jpg") no-repeat center 43px;
    -webkit-transition: background 0.3s ease;
}
#content2 a.otgruzki span {
    background-image: none;
    padding-left: 0px;
}
#content2 .right a{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d0d0d0;
    height: 155px;
    text-align: center;
    width: 100%;
    padding: 0 3%;
    margin-right: 16px;
}
#content2 .right span {
    margin: 0 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 0px;
    background-image: none;
    text-align: center;
}
#content2 a.video {
    background: url("../img/video.jpg") no-repeat center 43px;
    -webkit-transition: background 0.3s ease;
}
#content2 a.video:hover {
    color: #0084d1;
    background-position: center -139px;
    background: url("../img/video2.jpg") no-repeat center 43px;
    -webkit-transition: background 0.3s ease;
}
#content2 a.video span{
    background-image: none;
    padding-left: 0px;
}
.bot_slider{
    padding-top:0px;
}
#bot_slider h2{
    line-height: 1;
    margin: 20px 0 20px 0;
}
#bot_slider{
    padding: 40px 0 20px 0;
}
.bot_slider img{

}
.secmodel {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top:0;
}
.secmodel a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    line-height: 1;
    padding: 4px 7px 2px 6px;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: -0.3px;

}
.secmodel a:hover {
    color: #ffffff;
}
.title {
    margin-top: 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px;
}
.title a {
    color: #0084d1;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
}
.title a:hover{
    text-decoration: none;
}
.views-row {
    margin: 0 25px;
    position: relative;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.for-special.for-specmodel, .block-block-6-price, .views-field-field-price {
    margin-top: 11px;
    color: #ff4700;
}
.for-special .ott {
    font-weight: normal;
}
.ott {
    font-size: 14px;
    font-weight: normal;
    padding-right: 3px;
}
.block-block-6-price{
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
span.rub {
    font-family: 'als_rublregular' !important;
}
.rub {
    font-size: 18px;
}
.special-offer-two::before {
    content: "";
    background: url(../img/specialbig-two.png) 0 0 no-repeat;
    width: 17px;
    height: 16px;
    /*top: 40px;*/
    left: 10px;
    position: absolute;
    z-index: 100;
}
.special-offer-two {
    position: relative;
    top: 172px;
    margin-left: 0;
    display: inline;
    /*right: 0;*/
}
.slick-slide{
    padding-top: 30px;
}
.bot_content h2{
    margin: 0;
}
.bot_content a.head{
    color: #0084d1;
    text-decoration: none;
    border-bottom: 1px solid #7fc9f0;
}
.bot_content a:hover{
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
.bot_content{
    padding: 0px 87px 0px;
    /*border-top: 1px solid #d7d7d7;*/
    /*margin: 79px 0 0 0;*/
}
.bot_head{
    border-top: 1px solid #d7d7d7;
    /*margin-top: 79px;*/
    /*padding: 10px 0 10px 0;*/
}
.bot_head .col-lg-12{
    padding-left: 0;
    padding-right: 0;
}
.slick-initialized .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
}
#bot_inf {
    background: #233039;
    color: #999999;
    padding: 1px 0;
        padding-top: 1px;
    font-size: 14px;
    /*min-width: 1000px;*/
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
}
#bot_inf h2 a{
    color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    margin-top: 0;
}
#bot_inf h2{
    margin-top: 0;
    margin-bottom: 19px;
    line-height: 1;
}
#social_bot{
    margin-bottom: 50px;
}
.content_bot_mobile{
    margin-left: 30px;
    margin-top: 30px;
}
.content_bot_mobile a.it4{
    margin-bottom: 35px;
}
/*#bot_inf .content_bot_mobile h2, h3{
    margin-top: 0;
    margin-left: 30px;
}*/
.content_bot1 div.it1 {
    background: url("../img/FooterTell.jpg") no-repeat left 5px;
    margin-bottom: 5px;
}
.content_bot1 div {
    padding-left: 30px;
    margin-bottom: 19px;
}
.content_bot1 div.phone {
    margin-bottom: 0;
}
.content_bot1 div.phone {
    padding-left: 0;
}
.content_bot1 div.it4 {
    background: url("../img/FooterTime.jpg") no-repeat left 5px;
}
.content_bot1 div.it2 {
    background: url("../img/FooterMail.jpg") no-repeat left 5px;
}
.content_bot4{
    padding-left: 25px;
    padding-top: 9px;
}
#bot_inf a {
    color: #999999;
    text-decoration: none;
}
.content_bot1 div.it3 {
    background: url("../img/FooterMarker.jpg") no-repeat left 5px;
    margin-bottom: 0px;
}
p {
    margin: 0 0 19px;
}
#bot_inf .social-logo h3 {
    color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
}
#bot_inf h3 {
    color: #fff;
    font-size: 13px;
    margin-top: 40px;
}
.content_bot .social-logo{
    padding-left: 0px;
}
#bot_inf a.social {
    display: block;
    float: left;
    width: 28px;
    height: 27px;
    margin-right: 12px;
    text-indent: -999999px;
}
#bot_inf a.social.it1 {
    background: url("../img/soc1.jpg") left top no-repeat;
        background-position-x: left;
        background-position-y: top;
}
#bot_inf a.social.it1:hover, #bot_inf a.social.it2:hover, #bot_inf a.social.it3:hover, #bot_inf a.social.it4:hover {
    background-position: top right;
}
#bot_inf a.social.it2 {
    background: url("../img/soc2.jpg") left top no-repeat;
}
#bot_inf a.social.it3 {
    background: url("../img/soc3.jpg") left top no-repeat;
}
#bot_inf a.social.it4 {
    background: url("../img/soc4.jpg") left top no-repeat;
}
#bot_inf ul li {
    list-style-image: url(../img/li-red.png);
}
#bot_inf ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0 0 0 16px;
}
#bot_inf a.available-footer {
    display: block;
    padding-left: 45px;
    /*margin: 30px 0;*/
    color: #fff;
    background: url(../img/ico-available-footer.png) no-repeat left center;
}
.foot-links-catalog-mail a.dl-cat-prod {
    background: url('../img/footer-links-dl.png') no-repeat 3px 0;
    padding-left: 27px;
    padding-top: 2px;
    margin-bottom: 19px;
}
.foot-links-catalog-mail a {
    color: #ffffff !important;
    display: inline-block;
}
.foot-links-catalog-mail a.get-cat-mail {
    background: url('../img/footer-links-mail.png') no-repeat 0 1px;
    padding-left: 28px;
}
.content_bot .foot-links-catalog-mail{
    padding-left: 0;
    margin-top: 10px;
}
#bot_inf a:hover {
    text-decoration: underline;
}
#footer {
    background: #000000;
    padding: 7px 0;
    color: #999999;
}
#footer #NPOvector {
    float: left;
}
#footer #copy {
    float: right;
}
#footer a {
    text-decoration: none;
    color: #999999;
}
#footer #copy img {
    margin-right: 5px;
}
#bot_slider .slick-arrow {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('../img/arrows.png');
    width: 30px;
    height: 30px;
    border: 1px solid #7fc9ef;
    position: absolute;
    top: 106px;
    text-indent: -999999px;
    transition: background-color 0.3s;
}
#bot_slider .slick-arrow:hover {
    background-color: #007fdc;
    background-image: url('../img/arrows.png');
}
#bot_slider .slick-prev {
    background-position: 0 -1px;
    left: -31px;
}
#bot_slider .slick-prev:hover {
    background-position: 0 -31px;
}
#bot_slider .slick-next {
    background-position: -35px -1px;
    right: -35px;
}
#bot_slider .slick-next:hover {
    background-position: -35px -31px;
}
.tell {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: right;
    display: inline-block;
    position: relative;
}
.tell span.tel-rf {
    letter-spacing: 0.1px;
    font-size: 12px;
    color: #999999;
    margin-right: 2px;
}
.tell span {
    float: right;
    overflow: hidden;
    clear: both;
}
.tell span.input-group-addon{
    float: none;
}
.tell .header-phone {
    font-size: 21px;
    padding-left: 18px;
    background: url("../img/HeaderTell.jpg") no-repeat left center;
    margin-top: 2px;
    letter-spacing: -0.6px;
    color: #ffffff;
}
.tell a {
    color: #b2b2b2;
    border-bottom: 1px dashed #949494;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 4px 0 0;
    display: inline-block;
    line-height: 15px;
    margin-top: 4px;
}
.tell a.priv_pol {
    font-size: 11px;
}
#popup-order {
    background: #fff;
    border: 1px solid #DDDDDD;
    padding: 25px;
    position: absolute;
    top: 78px !important;
    left: -119px !important;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.75);
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.75);
    width: 300px;
}
#webform-component-phone label {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    font-family: arial;
    /*background: url(../img/phoneico.png) left 5px no-repeat;*/
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: -2px;
    text-indent: -2px;
    padding-left: 15px;
}
#webform-component-phone .input-group{
    padding-bottom: 10px;
}
#webform-component-phone .fa{
    display: table-cell;
    font-size: 15px;
}
#webform-component-phone .input-group-addon {
    padding: 4px 10px;
}
#webform-component-phone input {
    border: 1px solid #ccc;
    outline: none;
    font-family: arial;
    font-size: 13px;
    color: #666;
    /*margin-bottom: 1em;*/
    line-height: 150%;
    width: 100%;
    padding: 3px 0px 3px 0px;
    /*background: url(../img./phoneico.png) no-repeat left center;*/
    border-radius: 0 4px 4px 0;
    text-align: center;
}
#webform-client-form-2173 #edit-actions {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.webform-client-form .form-submit {
    width: 135px;
    height: 28px;
    background: #0084d1;
    outline: none;
    color: #fff;
    border: none;
    padding-bottom: 3px;
}
#webform-component-phone .form-required {
    margin-left: 1px;
    padding-left: 3px;
}
.language-switcher {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 19px;
    margin-top: 11px;
}
/*.language-switcher ul {
    margin: 0;
    padding: 0;
}*/
.language-switcher li.active a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #ff4700;
}
.language-switcher li span {
    text-indent: -999999px;
}
.language-switcher li {
    list-style: none;
    margin: 0;
}
.language-switcher a {
    color: #949494;
    text-decoration: none;
    border-bottom: 1px solid #949494;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -23px;
    margin-top: -4px;
}
.navbar-fixed-top {
    border-width: 0 0 0px;
}
.navbar-right {
    margin-right: -7px;
    margin-top: -4px;
}
.sh_eq .elastislide-horizontal {
    padding: 10px 40px;
}
.sh_eq .elastislide-wrapper {
    box-shadow: none;
}
.sh_eq .elastislide-wrapper nav span {
    position: absolute;
    background: #fff url(../img/arrows.png) no-repeat 4px 3px;
        background-position-x: 4px;
        background-position-y: 3px;
    /*width: 23px;
    height: 23px;
    border-radius: 50%;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.8;*/
    border-radius: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid #7fc9ef;
    position: absolute;
    /*top: 106px;*/
    text-indent: -999999px;
    transition: background-color 0.3s;
}
.sh_eq .elastislide-wrapper nav span:hover {
    background-color: #007fdc;
    background-image: url('../img/arrows.png');
}
.sh_eq .elastislide-horizontal nav span.elastislide-next {
    right: 0px;
    left: auto;
    background-position: -35px -1px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-next:hover {
    right: 0px;
    left: auto;
    background-position: -35px -31px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-prev {
    background-position: 0 -1px;
    left: 0px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-prev:hover {
    /*left: -31px;*/
    background-position: 0 -31px;
}
#content2 .container{
    padding-left:0px;
    padding-right: 0px;
    border-top: 1px solid #efefef;
}
#content .content{
    padding-left:0px;
    padding-right: 0px;
}
#webform-client-form-2173 .privacy-policy {
    font-size: 11px;
    text-align: left;
}
#content2 #knopki{
    padding-right: 0px;
}



            /*FLEXSLIDER*/

#sliderWrap {
    height: 497px;
    position: relative;
    width: 100% !important;
}
#slider {
    text-align: center;
    overflow: hidden;
}
.flexslider {
    margin: 0 0 0px;
    background: #ffffff;
    border: 0px solid #ffffff;
    position: relative;
    zoom: 1;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flexslider .slides > li {
    /*display: none;*/
    -webkit-backface-visibility: hidden;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    margin: 0;
        margin-right: 0px;
    padding: 0;
    list-style: none;
}
#slider .wrapimg img {
    width: 1920px;
    display: inline;
}
.flexslider .slides img {
    height: auto;
}
#slider .inner {
    margin-top: -387px;
    padding: 1px 0;
}
.inner {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
        margin-top: 0px;
    position: relative;
}
#slider .inner .sliderMashWrap {
    margin-right: 316px;
    margin-top: 61px;
    margin-left: 0px;
    margin-bottom: 35px;
    max-width: 923px;
    margin: 61px auto 35px;
    /*margin: auto;*/
}
#slider .sliderMashWrap img {
    position: relative;
    z-index: 999;
    max-width: 100%;
    width: 100%;
}
#slider .inner .whitebox {
    position: absolute;
    width: 304px;
    top: 38px;
    right: 0;
    display: none;
}
#slider .inner .whitebox .borderTop {
    background: url("../img/plashka.png") no-repeat left top;
    height: 9px;
}
#slider .inner .whitebox .cont {
    background: rgba(255, 255, 255, 0.84);
    padding: 1px 31px;
    text-align: left;
    font-style: normal;
    height: 346px;
    line-height: 147%;
    opacity: 0.84;
}
#slider .inner .whitebox .cont h2 {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #acacac;
    margin: 30px 0 13px;
    padding-bottom: 12px;
    line-height: 130%;
    font-weight: bold;
    color: #4c4c4c;
}
#slider .inner .whitebox .cont .button, #rightSidebar .order-en {
    background: url("../img/slideB1.png") #ff4600 no-repeat 177px 11px;
    display: block;
    color: #fff;
    width: 210px;
    padding: 9px 25px;
    margin-top: 12px;
    text-decoration: none;
}
#wrapContWrap {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
}
.wrapper {
    margin: 0 15px;
}
#carousel {
    margin: 0px 0 20px 0;
    width: 100%;
    overflow: hidden;
}
#carousel .flex-viewport {
    overflow: hidden !important;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#wrapContWrap .wrapper .slides li {
    height: 76px;
}
#carousel ul.slides li {
    text-align: center;
    font-size: 93%;
    cursor: pointer;
    list-style: none;
    float: left !important;
    /*width: 20% !important;*/
    font-style: normal;
    background: url("../img/sliderWid2.jpg") repeat-x center bottom;
    -webkit-transition: background 0.5s ease, color 0.3s ease;
    position: static;
}
#carousel ul.slides a {
    display: block;
    text-decoration: none;
    color: #4c4c4c;
    padding: 20px 0;
}
.flexslider .slides::after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#carousel ul.slides {
    /*width: 100% !important;*/
    text-align: center;
    margin: 0 auto !important;
    width: max-content !important;
    width: -moz-max-content !important;
}
#carousel ul.slides li.flex-active-slide {
    background: url("../img/sliderWid.png") repeat-x center bottom;
    position: relative !important;
    left: 0;
    z-index: 2;
}
#wrapContWrap .wrapper .slides li {
    height: 76px;
}
#carousel ul.slides li.flex-active-slide a {
    color: #ff4600;
}
.submenu-slide-5 {
    width: 600px;
    margin: 0;
    padding: 27px 29px;
    position: absolute;
    top: 67px;
    background-color: #f6f6f6;
    right: 0px;
    border-top: 2px solid #ff4600;
    /*display: none;*/
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.submenu-slide-5 .column-1 {
    width: 58%;
    padding-right: 20px;
}
.submenu-slide-5 .column {
    float: left;
    width: 50%;
    text-align: left;
}
.submenu-slide-5 a {
    display: block;
    padding: 0 0 0 11px !important;
    margin-left: 0;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 14px;
    position: relative;
    color: #4c4c4c;
    text-decoration: none;
}
.submenu-slide-5 a:hover {
    color: #4c4c4c;
    text-decoration: underline !important;
}
.submenu-slide-5 a::before {
    content: '';
    position: absolute;
    left: 2px;
    top: -2px;
    display: list-item !important;
    list-style-image: url(/sites/all/themes/vektor/images/li.png);
    list-style-position: inside;
}
.submenu-slide-5 .column.column-2 {
    width: 42%;
}
.flex-control-nav, .flex-direction-nav {
    display: none;
}

#content {
    padding-top: 10px;
}

.glide .glide__wrapper ul li img{
    width: 95%;
}
#mobile_slider{
    margin-top: 100px;
}
#mobile_slider h3{
    text-align: center;
    font-size: 19px;
    color: #ff4600
    /*background-image: url("../img/sliderWid2.jpg") repeat-x center bottom;*/
}
#mobile_slider a{
    text-decoration: none;
}
.navbar-toggle{
    margin-top: 0px;
}
.phone_icon{
    margin-top: 0px;
}
#bot_inf h2.dost_opl{
    margin-top: 20px;
}
.bot_head a{
    border-bottom: 1px solid #7fc9f0;
    text-decoration: none;
    color: #0084d1; 
}
.bot_head a:hover{
    border-bottom: 1px solid #fff;
}
#bot_slider .bot_head a.head_one{
    margin-left: 77px;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle .icon-bar {
    height: 4px;
}

.fixed_top_menu {
  padding-top: 0px;
  transition: all .3s;
  min-height: 48px !important;
}
.navbar{
      transition: all .3s;
}
.drNomera:focus {
    color: #ff4600;
}

#content2 .row{
    padding: 20px 0;
}
#shipped_equipment{
    padding-bottom: 20px;
}
#bot_inf .container{
    padding-left: 0px;
}

a.phone_num_min{
    display: none;
}
#content2 p.news_date{
    margin: 0 0;
}
#shipped_equipment .slick-initialized .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
    /*max-width: 234px;*/
}
#shipped_equipment .slick-slide{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}
#shipped_equipment .slick-arrow {
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
    background-image: url('../img/arrows.png');
    width: 30px;
    height: 30px;
    border: 1px solid #7fc9ef;
    position: absolute;
    top: 50%;
    text-indent: -999999px;
    transition: background-color 0.3s;
}
#shipped_equipment .slick-arrow:hover {
    background-color: #007fdc;
    background-image: url('../img/arrows.png');
}
#shipped_equipment .slick-prev {
    background-position: 0 -1px;
    left: 10px;
    z-index: 1;
}
#shipped_equipment .slick-prev:hover {
    background-position: 0 -31px;
}
#shipped_equipment .slick-next {
    background-position: -35px -1px;
    right: 10px;
}
#shipped_equipment .slick-next:hover {
    background-position: -35px -31px;
}
i.fa-mobile{
    font-size: 20px;
}
#shipped_equipment .slick-slide img {
    max-width: 100%;
}

























/*Тест схлопывания меню на разрешении 1200*/
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    /*background-color: #233039;*/
  }
  .navbar-inverse .navbar-nav > li > a {
    min-height: auto;
    text-align: center;
    font-size: 16px;
  }
.navbar-inverse .navbar-nav > li > a:hover {
    border-bottom: none;
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
  .navbar {
    min-height: auto;
  }
  .navbar-brand > img {
    display: inline-block;
    width: 78%;
  }
  #content {
    border-top: 1px solid #efefef;
  }
  a.phone_num_min{
    display: block;
    color:#fff;
    font-size: 20px;
    /*line-height: 50px;*/
    position: absolute;
    right: 75px;
    cursor: pointer;
    top: 11px;
    background: url("../img/HeaderTell.jpg") no-repeat left center;
    padding-left: 20px;
  }
  a.phone_num_min:hover{
    color:#ff4700;
    /*border-bottom: 1px solid #ff4700;*/
  }
}

/*тест схлопывания меню на 1200*/




































@media only screen and (max-width : 1400px) {
.navbar-inverse .navbar-nav > li > a {
    /*font-size: 14px;*/
    /*line-height: 1.43;*/
}
.navbar-right {
    margin-right: -15px;
    margin-top: -4px;
}
.tell .header-phone{
    /*background: none;*/
}
.language-switcher {
    margin-right: 0px;
    margin-top: 11px;
    margin-left: 0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-brand {
    margin-right: 70px;
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    /*padding-top: 6px;*/
    margin-right: 45px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    /*padding-top: 16px;*/
    margin-right: 44px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    /*padding-top: 6px;*/
    margin-right: 45px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    /*padding-top: 16px;*/
    margin-right: 44px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    /*padding-top: 16px;*/
    margin-right: 26px;
}
.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
/*.special-offer-two::before{
    top: 30px;
}*/
.content_bot4{
    padding-left: 0px;
    padding-top: 9px;
}
/*.slick-initialized .slick-slide {
    padding-left: 40px;
    width: 243px !important;
}*/

}
@media only screen and (max-width : 1280px) {
/*.special-offer-two::before{
    top: 48px;
}*/
#bot_slider .bot_head a.head_one {
    margin-left: 38px;
}
}
@media only screen and (max-width : 1024px) {
/*.special-offer-two::before{
    top: 53px;
}*/
#bot_slider .bot_head a.head_one {
    margin-left: 12px;
}
#bot_inf {
    padding-bottom: 0px;
}
#wrapContWrap .wrapper .slides li {
    height: 76px;
    width: 150px !important;
}
#wrapContWrap .wrapper .slides li.it5 {
    height: 76px;
    width: 187px !important;
}

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.navbar-inverse .navbar-nav > li > a{
	padding-right: 0px;
    margin-right: 25px;
}
.navbar-brand{
padding-right: 0px;
margin-right: 32px;	
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    margin-right: 25px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    margin-right: 24px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    margin-right: 25px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    margin-right: 24px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    margin-right: 24px;
}
.language-switcher {
    margin-left: -1px;
}
.language-switcher-locale-url{
    padding-left: 0px;
}
.tell .header-phone {
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-top: 3px;
}
/*.slick-initialized .slick-slide {
    padding-left: 40px;
    width: 291px !important;
}*/
.navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    /*line-height: 1.43;*/
}
.prod_cat{
    padding-right: 0;
}
}
.contact_phone_min .lead{
	margin-top: 8px;
	margin-bottom: 0px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.navbar-inverse .navbar-nav > li > a{
	padding-right: 15px;
	padding-left: 15px;
}
.contact_phone_min .lead > a{
	font-size: 20px;
	margin-top: 4px;

}
.navbar-brand{
padding-right: 2px;	
}
.phone_icon{
	/*display: block;*/
	right: 20px;
}
.navbar{
    position: fixed;
}
.content_bot .foot-links-catalog-mail {
    padding-left: 0;
    margin-top: -200px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-brand {
    margin-right: 15px;
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    margin-right: 0px;
}
#bot_inf .container{
    padding-left: 15px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.contact_phone_min .lead {
    text-align: center;
}
.contact_phone > p {
    text-align: center;
}
.phone_icon{
	/*display: block;*/
	right: 20px;
}
.content_bot .foot-links-catalog-mail {
    padding-left: 0;
    margin-top: 10px;
}
.navbar-brand > img {
    display: inline-block;
    width:70%;
    /*height: 50%;*/
    margin-top: 5px;
}
.navbar{
    /*position: fixed;*/
    min-height: 65px;
}
body{
    /*margin-top: 65px;*/
}
.sh_eq h2{
    padding-left: 20px;
}
.bot_content h2 {
    margin: 0;
    font-size: 20px;
}
.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.title a{
    font-size: 12px;
}
/*.special-offer-two::before {
    top: 42px;
}*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 18px;
}
.navbar-brand {
    margin-right: 15px;
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a {
    /*min-height: 61px;*/
}
#content2 .container{
    padding-left:15px;
    padding-right: 15px;
}
#content .content{
    padding-left:15px;
    padding-right: 15px;
}
.content_bot1 div.it1{
    margin-bottom: 20px;
}
.bot_head .col-lg-12{
    padding-left: 15px;
    padding-right: 15px;
}
/*.slick-initialized .slick-slide {
    padding-left: 40px;
    width: 205px !important;
}*/
}
@media only screen and (max-width : 767px) {
.right {
    padding-top: 30px;
}
.phone_icon{
    font-size: 22px;
    right: 70px;
}
#bot_inf a.available-footer{
    background: none;
    padding-left: 0px;
}
.navbar-inverse .navbar-nav > li > a {
    min-height: auto;
    text-align: center;
    font-size: 16px;   
}
.navbar-inverse .navbar-nav > li > a:hover {
    border-bottom: none;
}
.navbar-inverse .navbar-nav > li > a.link_1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_2 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_4 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-nav > li > a.link_5 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #233039;
}
.phone_icon{
    margin-top: -6px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-prev {
    background-position: 0 -1px;
    left: 6px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-next {
    right: 6px;
}
.sh_eq .elastislide-horizontal nav span.elastislide-next:hover {
    right: 6px;
}
/*.slick-initialized .slick-slide {
    padding-left: 40px;
    width: 245px !important;
}*/
.navbar{
    position: fixed;
    /*min-height: 65px;*/
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.phone_icon{
	font-size: 22px;
	right: 70px;
}
#content2 .container{
    padding-left:15px;
    padding-right: 15px;
}
#content .content{
    padding-left:15px;
    padding-right: 15px;
}
#content h1{
    font-size: 23px;
}
#content p{
    font-size: 16px;
}
.sh_eq h2 a{
    font-size: 20px;
}
#content2 h2 a{
    font-size: 20px;
}
.bot_head h2 a{
    font-size: 20px;
}
#content2 p{
    font-size: 16px;
}
.content_bot1 div.it1{
    margin-bottom: 20px;
}
#bot_inf a.available-footer {
    display: block;
    padding-left: 0;
    /*margin: 30px 0;*/
    color: #fff;
    background: none;
    /*margin-top: 23px;*/
    margin-bottom: 15px;
}
#bot_inf {
    padding-top: 25px;
    font-size: 16px;
}
#bot_inf .content_bot_mobile h2, h3, a{
    font-size: 16px;
}
#bot_inf .content_bot_mobile h2 a{
    font-size: 16px;
}
#bot_inf .content_bot_mobile h3{
    font-size: 16px;
}
/*.slick-initialized .slick-slide {
    padding-left: 0px;
    width: 168px !important;
}*/
}

@media only screen and (max-width: 420px){
    a.phone_num_min {
  display: none;
}
.phone_icon{
    display: block;
}
}

@media only screen and (max-width : 360px){
  #mobile_slider h3 {
    font-size: 14px;
}
/*.slick-initialized .slick-slide {
    padding-left: 0px;
    width: 216px !important;
}  */

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.phone_icon{
	font-size: 22px;
	right: 70px;
}
/*.slick-initialized .slick-slide {
    padding-left: 0px;
    width: 176px !important;
}*/
/*#shipped_equipment .slick-arrow {
    top: 105px;
}*/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}